<server description="Sample Liberty server">
	<featureManager>
		<feature>beanValidation-3.0</feature>	   
		<feature>mpConfig-3.0</feature>
		<feature>passwordUtilities-1.0</feature>
		<feature>restfulWS-3.1</feature>
		<feature>cdi-4.0</feature>
		<feature>jsonb-3.0</feature>
	</featureManager>
	
	<httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

	<webApplication location="CloudantSample.war" contextRoot="/"/>
	<variable name="cloudant.apikey" value="06OlfqxgOzqJxROirfQDCdW2ddIzHOs937npibdR6uX2"/>
  	<variable name="cloudant.servicename" value="Cloudant-2t"/>
  	<variable name="cloudant.host" value="7325d93c-d9ba-4770-9d70-2de6286ca891-bluemix.cloudantnosqldb.appdomain.cloud"/>
    <variable name="cloudant.dbname" value="crew"/> <!-- Use admin to avoid configuring the container with users-->

</server>